@import '../../App.scss';

.login{
    height: 100vh;
    background-image: url('../../assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 1px;
    justify-content: center;
    display: flex;
    .login-mask{
        flex-direction: column;
        width: 420px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background:transparent;
        border: 2px solid #47101F;
        backdrop-filter: blur(20px);
        margin: 30px;
        box-shadow: 0 0 10px #47101F;
        .login-label{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            font-size: 30px;
            font-weight: normal;
            color: #FCF3F7;
        }
        .info{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 30px;
            .input{
                width: 300px;
                margin: 15px;
                color: #FCF3F7;
            }
            .input-label{
                margin-left: 8px;
                color: #FCF3F7;
            }
            .icon{
                color: #FCF3F7;
            }
            .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
                color: #FCF3F7;
            }
            .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                border-color: #FCF3F7;
            }
        }
        .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
            color: #FCF3F7;
        }
        .btn-div-login{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 20px;
            .btn-login{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                background-color: #47101F;
                color: #FCF3F7;
            }
        }
        .forgot-password{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            a{
                color: #FCF3F7;
            }
        }
        .registro{
            margin: 10px;
            label{
                color: #FCF3F7;
                margin-right: 2px;
            }
            a{
                color: #FCF3F7;
                text-decoration: none;
                font-weight: normal;
                cursor: pointer;
            }
        }
    }
    .Footer{
        top: 580px;
        z-index: -1;
    }
}

@media (max-width: 768px) {
    .login{
        .login-mask{
            display: flex;
            width: auto;
            height: 450px;
            .login-label{
                font-size: 20px;
            }
            .info{
                margin: 20px;
                .input{
                    width: 300px;
                    margin: 10px;
                    min-width: 220px;
                }
            }
            .btn-div-login{
                .btn-login{
                    width: 180px;
                }
            }
            .forgot-password{
                margin: 5px;
            }
            .registro{
                margin-top: 20px;
                flex-direction: column;
                display: flex;
                label{
                    margin-right: 0px;
                }
                a{
                    text-align: center;
                }
            }
        }
    }
}
