.Section2{
    height: auto;
    width: auto;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card-favorites{
        width: 1000px;
        height: auto;
        background-color: #F9EAF1;
        border: 2px solid #47101F;
       /*  margin: 30px; */
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .title{
            display: flex;
            justify-content: end;
            color: #632033;
        }
        .icon-star{
            margin: 10px;
            color: #632033;
            justify-content: start;
            .star{
                font-size: 50px;
            }
        }
        .card{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 40px;
            flex-direction: row;
            .img-list{
                display: flex;
                margin-top: 30px;
                width: 180px;
                height: auto;
                margin-left: 30px;
            }
            .info{
                flex-direction: column;
                margin-left: 10px;
                align-items: flex-start;
                margin-right: 20px;
                text-align: left;
                color: #47101F;
                .text{
                    font-weight: normal;
                }
            }
        }
    }
}
