@import '../../App.scss';

.register{
    height: 105vh;
    background-image: url('../../assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 1px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); /* Color negro con opacidad 0.5 */
    }
    .register-mask{
        flex-direction: column;
        width: 600px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background:transparent;
        border: 2px solid #47101F;
        backdrop-filter: blur(20px);
        margin: 30px;
        box-shadow: 0 0 10px #47101F;
        .register-label{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            font-size: 30px;
            font-weight: normal;
            color: #FCF3F7;
        }
        .info{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin: 20px;
            flex-wrap: wrap;
            .input{
                color: #FCF3F7;
                label{
                    color: #FCF3F7;
                }
            }
            .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
                color: #FCF3F7;
            }
            .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                border-color: #FCF3F7;
            }
            .input-label{
                color: #FCF3F7;
                margin-left: 8px;
            }
            .input-password{
                width: 250px;
                margin: 10px;
                color: #FCF3F7;
                .icon{
                    color: #FCF3F7;
                }
            }
            .dropdown{
                color: #FCF3F7;
                label {
                    color: #47101F;
                }
            }
            .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
                fill: #FCF3F7;
            }
            .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
                fill: #FCF3F7;
            }
        }
        .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
            color: #FCF3F7;
        }
        .div-btn-register{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            .btn-register{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                background-color: #47101F;
                color: #FCF3F7;
            }
        }
        .login-register{
            margin: 10px;
            label{
                color: #FCF3F7;
                margin-right: 2px;
            }
            a{
                color: #FCF3F7;
                text-decoration: none;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            .checkbox{
                color: #FCF3F7;
                font-family: MontaguSlab;
                label{
                    color: #FCF3F7;
                    font-family: MontaguSlab;
                }
            }
            .icon{
                color: #FCF3F7;
            }
            a{
                color: #FCF3F7;
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 768px) {
    .register{
        flex-wrap: wrap;
        background-repeat: repeat;
        height: 150vh;
        .register-mask{
            width: 600px;
            min-width: 220px;
            height: auto;
            margin: 30px;
        }
        .form{
            display: flex;
            flex-direction: column;
            a{
                text-align: center;
            }
        }
        .login-register{
            margin: 10px;
            display: flex;
            flex-direction: column;
            label{
                text-align: center;
                margin-right: 0px;
            }
            a{
                text-align: center;
            }
        }
    }
}
