.container-categories{
    margin: 10px;
    .table-container-categories{
        margin: 5px;
    }
    .btn-add-categorie{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        .btn-categories{
            background-color: #47101F;
            &:hover{
                background-color: #8C2844;
            }
        }
    }
}
