.container-section3{
    display: flex;
    justify-content: center;
    margin: 50px;
    .Section3{
        height: 420px;
        width: 800px;
        margin: 40px;
        background: #F9EAF1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .img-author{
            width: 70%;
            margin: 30px;
            box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);
            transition: filter 0.3s ease;
            &:hover {
                cursor: pointer;
                filter: brightness(0.8); /* Oscurece la imagen al pasar el cursor */
            }
        }
        .img-author-books{
            display: flex;
            justify-content: space-around;
            .bk1{
                height: 250px;
                width: 150px;
            }
            .bk2{
                height: 250px;
                width: 150px;
            }
        }
        h3{
            color: #47101F;
            margin: 10px 0;
        }
        h5{
            color: #47101F;
        }
        p{
            color: #47101F;
        }
    }
}

@media (max-width: 320px) {
    .container-section3{
        .Section3{
            height: auto;
            width: auto;
            margin: 40px 20px;
            .div-img-author{
                display: flex;
                justify-content: center;
                .img-author{
                    width: 60%;
                }
            }
            .img-author-books{
                display: flex;
                justify-content: space-between;
                .bk1{
                    height: 200px;
                    width: 100px;
                    margin: 10px;
                }
                .bk2{
                    height: 200px;
                    width: 100px;
                    margin: 10px;
                }
            }
            h3{
                margin: 10px;
                text-align: center;
            }
            h5{
                text-align: center;
            }
            p{
                text-align: center;
                margin: 0 10px;
            }
        }
    }
}

//pantallas medianas
@media (min-width: 450px) {
    .container-section3{
        .Section3{
            height: auto;
            width: auto;
            margin: 40px 20px;
            .div-img-author{
                display: flex;
                justify-content: center;
                .img-author{
                    width: 65%;
                }
            }
            .img-author-books{
                display: flex;
                justify-content: space-between;
                .bk1{
                    height: 300px;
                    width: 150px;
                    margin: 10px;
                }
                .bk2{
                    height: 300px;
                    width: 150px;
                    margin: 10px;
                }
            }
            h3{
                margin: 10px;
                text-align: center;
            }
            h5{
                text-align: center;
            }
            p{
                text-align: center;
                margin: 0 10px;
            }
        }
    }
}

@media (min-width: 576px) {
    .container-section3{
        .Section3{
            height: auto;
            width: auto;
            margin: 40px 20px;
            .div-img-author{
                display: flex;
                justify-content: center;
                .img-author{
                    width: 65%;
                }
            }
            .img-author-books{
                display: flex;
                justify-content: space-around;
                .bk1{
                    height: 300px;
                    width: 150px;
                    margin: 10px;
                }
                .bk2{
                    height: 300px;
                    width: 150px;
                    margin: 10px;
                }
            }
            h3{
                margin: 10px;
                text-align: center;
            }
            h5{
                text-align: center;
            }
            p{
                text-align: center;
                margin: 0 10px;
            }
        }
    }
}

@media (min-width: 768px) {
    .container-section3{
        .Section3{
            height: auto;
            width: auto;
            margin: 40px 20px;
            .div-img-author{
                display: flex;
                justify-content: center;
                .img-author{
                    width: 45%;
                }
            }
            .img-author-books{
                display: flex;
                justify-content: space-around;
                .bk1{
                    height: 250px;
                    width: 150px;
                    margin: 10px;
                }
                .bk2{
                    height: 250px;
                    width: 150px;
                    margin: 10px;
                }
            }
            h3{
                margin: 10px;
                text-align: center;
            }
            h5{
                text-align: center;
            }
            p{
                text-align: center;
                margin: 0 10px;
            }
        }
    }
}

@media (min-width: 769px) {
    .container-section3{
        display: flex;
        justify-content: center;
        margin: 50px;
        .Section3{
            height: auto;
            width: 800px;
            margin: 40px;
            background: #F9EAF1;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .div-img-author{
                display: flex;
                justify-content: center;
                .img-author{
                    display: flex;
                    width: 70%;
                    margin: 20px;
                    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);
                    transition: filter 0.3s ease;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(0.8); /* Oscurece la imagen al pasar el cursor */
                    }
                }
            }
            .img-author-books{
                display: flex;
                justify-content: space-around;
                .bk1{
                    height: 250px;
                    width: 150px;
                }
                .bk2{
                    height: 250px;
                    width: 150px;
                }
            }
            h3{
                color: #47101F;
                margin: 10px 0;
            }
            h5{
                color: #47101F;
            }
            p{
                color: #47101F;
            }
        }
    }
}
