/* Estilos generales del footer */
.Footer {
  position: absolute;
  bottom: -1;
  left: 0;
  width: 100%; /* Ocupará todo el ancho de la pantalla */
  background: #47101F;
  display: flex;
  justify-content: space-around;
  padding-top: 20px; /* Espacio interno para contenido del footer */
  padding-bottom: 20px;
  z-index: -1;
  .card{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    /* Estilos para la sección de ubicación */
    .Location {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .cont-info{
        display: flex;
        flex-direction: row;
        .info-location{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px;
          flex-direction: column;
          flex-wrap: wrap;
          .location-svg {
            height: 40px;
            width: 40px;
            margin: 10px 0 ;
            fill: #FCF3F7;
            &:hover{
              cursor: pointer;
            }
          }
          .link{
            align-items: center;
            text-align: center;
            font-size: 12px;
            font-weight: normal;
            color: #FCF3F7;
            &:hover{
              cursor: pointer;
            }
          }
        }
        .info-contact{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px;
          flex-direction: column;
          flex-wrap: wrap;
          .contact-svg {
            height: 40px;
            width: 40px;
            margin: 10px 0 ;
            fill: #FCF3F7;
          }
          .contact{
            align-items: center;
            text-align: center;
            font-size: 12px;
            font-weight: normal;
            color: #FCF3F7;
          }
        }
      }
    }
    .location-title{
      margin: 20px;
      font-size: 18px;
      font-weight: normal;
      color: #FCF3F7;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
      /* Estilos para la sección de redes sociales */
      .SocialMedia {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        .social-title {
          margin: 20px;
          font-size: 18px;
          font-weight: normal;
          color: #FCF3F7;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        .icons-social-media{
          display: flex;
          justify-content: space-between;
          .ig{
            display: flex;
            justify-content: center;
          }
          .fb{
            display: flex;
            justify-content: center;
          }
          .in{
            display: flex;
            justify-content: center;
          }
          .Svg {
            height: 40px;
            width: 40px;
            margin: 10px;
            color:  #FCF3F7;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
      .Privacy {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        .link{
          align-items: center;
          text-align: left;
          font-size: 12px;
          font-weight: normal;
          color: #FCF3F7;
          &:hover{
            cursor: pointer;
          }
        }
        .Logo{
          margin: 10px;
          height: 80px;
          width: 150px;
          filter: grayscale(100%) invert(70%);;
          transition: filter 0.3s ease;
          &:hover{
            filter: grayscale(0%);
          }
        }
        .conf-button{
          margin: 20px;
          .privacy-button{
            margin: 20px;
            font-size: 12px;
            cursor: pointer;
            text-decoration: underline;
            color: #FCF3F7;
          }
        }
      }
      .divider{
        background-color: #FCF3F7;
      }
      .horarios{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .horario-title{
          margin: 20px;
          font-size: 18px;
          font-weight: normal;
          color: #FCF3F7;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        .horario{
          display: flex;
          flex-direction: column;
          h5{
            color: #FCF3F7;
            font-weight: lighter;
            margin: 5px;
            text-align: center;
          }
        }
      }
  }
}

@media (max-width: 320px) {
  .Footer {
    .card{
      .Location {
        .cont-info{
          display: flex;
          flex-direction: column;
          .info-location{
            .Svg {
              margin: 10px;
            }
          }
          .info-contact{
            .Svg {
              margin: 10px;
            }
            .contact{
                text-align: center;
            }
          }
        }
      }
        .Privacy {
          .conf-button{
            margin: 0;
            display: flex;
            .privacy-button{
              margin: 0px;
              font-size: 12px;
            }
          }
        }
      }
    }
}

//pantallas medianas
@media (min-width: 321px) and (max-width: 450px) {
  .Footer {
    .card{
      .Location {
        .cont-info{
          display: flex;
          flex-direction: column;
          .info-location{
            .Svg {
              margin: 10px;
            }
          }
          .info-contact{
            .Svg {
              margin: 10px;
            }
            .contact{
                text-align: center;
            }
          }
        }
      }
        .Privacy {
          .conf-button{
            margin: 0;
            display: flex;
            .privacy-button{
              margin: 0px;
              font-size: 14px;
            }
          }
        }
      }
    }
}

@media (min-width: 600px) and (max-width: 768px) {
  .Footer {
    .card{
        display: flex;
        justify-content: center;
        .Location {
          .cont-info{
            display: flex;
            flex-direction: column;
            .info-location{
              .Svg {
                margin: 10px;
              }
            }
            .info-contact{
              .Svg {
                margin: 10px;
              }
              .contact{
                  text-align: center;
              }
            }
          }
        }
          .Privacy {
            .conf-button{
              margin: 0;
              display: flex;
              .privacy-button{
                margin: 0px;
                font-size: 14px;
              }
            }
          }
        }
    }
}

@media (min-width: 768px) and (max-width: 900px){
  .Footer {
    .card{
      display: flex;
      justify-content: space-between;
      /* Estilos para la sección de ubicación */
      .Location {
        .cont-info{
          display: flex;
          flex-direction: column;
          .info-location{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            flex-direction: column;
            flex-wrap: wrap;
          }
          .info-contact{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            flex-direction: column;
            flex-wrap: wrap;
          }
        }
      }
      .location-title{
        text-align: center;
      }
        .Privacy {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          .link{
            align-items: center;
            text-align: left;
            font-size: 12px;
            font-weight: normal;
            color: #FCF3F7;
            &:hover{
              cursor: pointer;
            }
          }
          .conf-button{
            display: flex;
            .privacy-button{
              text-align: center;
            }
          }
        }
        .horarios{
          .horario-title{
            text-align: center;
          }
        }
    }
  }
} 

