/* Estilos generales del footer */
.Footer {
  position: absolute;
  bottom: -1;
  left: 0;
  width: 100%; /* Ocupará todo el ancho de la pantalla */
  background: #8C2844;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  padding-top: 20px; /* Espacio interno para contenido del footer */
  padding-bottom: 20px;
  z-index: -1;
  .card{
    width: 96%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    /* Estilos para la sección de ubicación */
    .Location {
      display: flex;
      flex-direction: column;
      align-items: center;
      .Svg {
        height: 40px;
        width: 40px;
        margin: 10px;
        fill: #FCF3F7;
        justify-content: end;
      }
      h6{
        align-items: center;
        text-align: left;
        font-size: 12px;
        font-weight: normal;
        color: #FCF3F7;
      }
    }
    /* Estilos para los iconos SVG en la sección de ubicación */
    label{
        margin: 20px;
        font-size: 20px;
        font-weight: normal;
        color: #FCF3F7;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
    
      /* Estilos para la sección de redes sociales */
      .SocialMedia {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Estilos para los iconos de Facebook en la sección de redes sociales */
        .Facebook {
          height: 55px;
          width: 55px;
        }
        /* Estilos para los iconos SVG en la sección de redes sociales */
        .Svg {
          height: 40px;
          width: 40px;
          margin: 10px;
          color:  #FCF3F7;
        }
      }
      .Privacy {
        display: flex;
        flex-direction: column;
        align-items: center;
        .Logo{
          margin: 10px;
          height: 80px;
          width: 70px;
        }
        .conf-button{
          margin: 20px;
          .privacy-button{
            margin: 20px;
            font-size: 15px;
            border-radius: 2px;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 10px;
            right: 120px;
            top: 60px;
            text-decoration: underline;
          }
        }
      }
  }
}




/* Estilos para la sección de política de privacidad */



