@import '../../../App.scss';


    .table-container{
        height: 400px;
        margin: 10px;
        .off-icon{
            color: red;
            cursor: pointer;
            transition: color 0.3s ease;
        }
        .off-icon.active{
            color: green;
            transition: color 0.3s ease;
        }
        .on-icon{
            color: green;
            cursor: pointer;
            transition: color 0.3s ease;
        }
        .on-icon.active{
            color: red;
            transition: color 0.3s ease;
        }
    }
    .pagination{
        display: flex;
        justify-content: center;
        .pages{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
