@import '../../../App.scss';


    .table-container{
        height: 450px;
        margin: 10px;
    }
    .pagination{
        display: flex;
        justify-content: center;
        .pages{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
