@import '../../App.scss';

$color_1: #000;

#app {
    height: 100%;
}
html {
    position: relative;
    height: 100%;
}
body {
    position: relative;
    height: 100%;
    background: #eee;
    font-family: MontaguSlab;
    font-size: 14px;
    color: $color_1;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    .swiper-pagination-bullet-active {
        opacity: var(--swiper-pagination-bullet-opacity, 1);
        background: #c43e6a;
    }
}


.info-title {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    color: #47101f;
    .title{
        font-weight: bold;
        position: relative;
        bottom: 320px;
        font-size: 40px;
        text-align: left;
        margin: 5px;
    }
    .description{
        font-weight: normal;
        position: relative;
        bottom: 320px;
        font-size: 20px;
        text-align: left;
        margin: 10px;
        max-width: 400px;
    }
}

.info-title.hidden {
    transform: translateX(-100%);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f5d5e3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #c43e6a;
    .img-book{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        margin: 20px 10px 10px 10px;
        display: flex;
        width: 50%;
        height: 40vh;;
        object-fit: cover;
        box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);
    }
    .info{
        display: flex;
        flex-direction: column;
        margin: 5px;
        color: #47101f;
        .btn{
            margin: 10px;
            background-color: #a82e53;
        }
    }
}

.button-fav-group{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    position: relative;
    top: 60px;
    margin-bottom: 40px;
    .btn-icon{
        margin: 5px;
        width: 50px;
        height: 50px;
        color: #47101F;
    }
}

@media (max-width: 768px) {
    .info-title{
        position: absolute;
        bottom: 5px;
        align-items: center;
        .title{
            text-align: center;
        }
        .description{
            text-align: center;
        }
    }
    .swiper{
        position: absolute;
        height: auto;
    }
    .swiper-slide{
        position: absolute;
        top: 300px;
        width: 500px;
    }
}
